.container-fluid {
    padding: 0;
}

.container-fluid .row {
    margin: 0px;
}

/* Navbar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

/*Dashboard*/

.dashboard{
    padding: 0;
    width: 100%;
    display: block;
    margin: auto 0;
}

.dashboard h4{
    font-size: 18px;
}

.dashboard span{
    font-size: 30px;
    display: block;
    width: 100%;
}

.dashboard-box{
    float:left;
    background-color: #DFDFDF;
    color:#FFF;
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 100%;
    text-align: center;
}

/* Botão de adicionar */

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
}

.edit-div{
    margin-bottom: 20px;
    margin-right: 25px;
}

.fas.fa-plus{
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */

.fas.fa-search {
    position: absolute;
    top: 50%;
    right: 15px;
    float: right;
    cursor: pointer;
}

.search-div{
    padding-right: 4px;
    display: inline-block;
    padding-top: 15px;
}

/* Filter */

.filter-div {
    display: inline-block;
    padding: 0;
    padding-top: 15px;
}

#filter {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/* Lista de tarefas */

.list-div {
    padding: 0;
    padding-top: 15px;
}

.tasks-list {
    padding: 0;
    display: inline-block;
    width: 100%;
}

.done {
    color: darkgray;
    text-decoration: line-through;
}

.done:hover{
    color: darkgray;
    text-decoration: line-through;
}

.fas.fa-trash, .fas.fa-edit, .fas.fa-check {
    cursor:pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fas.fa-trash{
    color: #db1e47;
}

.fas.fa-check {
    color: #13c43f;
}

.fas.fa-edit {
    color: #2f78ff;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

/* Rodapé */
footer {
    /* background-color: #333; */
    height: 300px;
    border-top: 2px solid #202020;
}

footer p{
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}

/* Messages */

ul.messages {
    padding: 0px;
    display: inline-block;
    margin-top: 15px;
}

ul.messages li {
    list-style: none;
    text-transform: uppercase;
}

/* Paginator */

.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}

/* Login */

.auth-card{
    margin-bottom: 30px;
}

.change-form-p {
    margin-top:30px;
    text-align: center;
}
